<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mocha Tests</title>
	<link href="https://cdn.jsdelivr.net/npm/mocha/mocha.css" rel="stylesheet"/>
</head>
<body>
<div id="mocha"></div>
<script id="normal" type="text/template">
<p>gotpl</p>
</script>
<script id="include" type="text/template">
<p><%= hello || 'Hello' %></p><%- include('normal') %>
</script>
<script id="nest" type="text/template">
<%- include('include') %>
</script>
<script src="https://cdn.jsdelivr.net/npm/mocha/mocha.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chai/chai.js"></script>
<script src="../dist/gotpl.min.js"></script>
<script>mocha.setup('bdd');</script>
<script src="index.js"></script>
<script>mocha.run();</script>
</body>
</html>